        @font-face {
    font-family: "Eina Regular";
    src: url("/fonts/eina-01-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Eina Semi Bold";
    src: url("/fonts/eina-01-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


body {
    font-family: "Eina Regular", Arial, sans-serif; /* Always provide fallback fonts */
            margin: 0;

            background-color: #fff;
            color: #000;
            transition: background-color 0.3s ease, color 0.3s ease;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            position: relative; /* Needed for absolute positioning of nutrition text */
        }
        
body.dark-mode {
    background-color: #000000;
    color: #fff;
}
.top-banner {
    background-color: #f0f0f000;
    padding: 2vw 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.dark-mode .top-banner {
    background-color: #000000;
}
.logo-link {
    display: inline-block;
}
.logo-img {
    height: 2vw;
    margin-left: 5vw;

    transition: opacity 0.3s ease; /* Optional: for a smoother transition */
}
.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1vw;
    justify-content: center; /* Center the menu items horizontally */
    width: 100%; /* Ensure it takes full width to center properly */
    margin-right: 15%;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}
.dark-mode .menu a {
    color: #eee;
}

.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.theme-toggle-button:focus {
    outline: none;
}

.theme-toggle-button:hover { x
    background-color: #ddd;
}

.dark-mode .theme-toggle-button:hover {
    background-color: #efa6a6;
}

.theme-toggle-button:active {
    background-color: #ccc;
}

.theme-toggle-button__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.theme-toggle-button__sun img {
    width: 2vw;
    height: auto;
}

.theme-toggle-button__moon img {
    width: 2vw;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.dark-mode .theme-toggle-button__sun img {
    transform: translateY(-100%);
}

.dark-mode .theme-toggle-button__moon img {
    transform: translateY(0);
}

.nutrition-text {
    font-size: 8vw;
    font-weight: bold;
    white-space: nowrap;
    color: #000; /* Default light mode color */
    transition: color 0.3s ease;
    order: 1; /* Place above loading screen initially */
    text-align: center; /* Center the text horizontally */
    width: 100%; /* Ensure it takes full width to center properly */
    position: relative; /* Establish a stacking context */
    z-index: -100; /* Ensure it's above the menu */
    padding-top: 10vw; /* Add top padding to push it down (adjust as needed) */
    /* OR */
    /* margin-top: 100px; /* Add top margin to push it down (adjust as needed) */
}


.dark-mode .fdi-button-link {
    font-family: "Eina Semi Bold", Arial, sans-serif;
    display: inline-block; /* Allows setting width and height like a block, but flows inline */
    background-color: #00000000;
    color: #ffffff;
    padding: 1vw 2vw; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 25px; /* Adjust for more or less rounded corners */
    font-weight: bold; /* Optional: Make the text bold */
    border: 0.5vw solid #00cb31; /* Add a 2px solid white border */

}

.fdi-button-link {
    font-family: "Eina Semi Bold", Arial, sans-serif;
    display: inline-block; /* Allows setting width and height like a block, but flows inline */
    background-color: #00000000;
    color: #000000;
    padding: 1vw 2vw; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 25px; /* Adjust for more or less rounded corners */
    font-weight: bold; /* Optional: Make the text bold */
    border: 0.5vw solid #00cb31; /* Add a 2px solid white border */

}

}

.fdi-button-link:hover {
    /* Optional: Add a hover effect */
    background-color: darkgreen;
}

.fdi-button-container {
    display: flex;
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button if needed */
    margin-top: 20px; /* Add some space above the button */
}

.fdi-button-container button {
    font-family: "Eina Semi Bold", Arial, sans-serif;
    font-size: 1vw;
    align-items: center; /* Vertically center the button if needed */
    margin-top: 20px; /* Add some space above the button */
    background-color: #00000000;
    color: #000000;
    padding: 1vw 2vw; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 25px; /* Adjust for more or less rounded corners */
    border: 0.5vw solid #00cb31; /* Add a 2px solid white border */
}
.dark-mode .fdi-button-container button {
    font-family: "Eina Semi Bold", Arial, sans-serif;
    font-size: 1vw;
    align-items: center; /* Vertically center the button if needed */
    margin-top: 20px; /* Add some space above the button */
    background-color: #00000000;
    color: #ffffff;
    padding: 1vw 2vw; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 25px; /* Adjust for more or less rounded corners */
    border: 0.5vw solid #00cb31; /* Add a 2px solid white border */
}

.dark-mode .nutrition-text {
    color: white;
}
.loading-screen {
    order: 2; /* Place below nutrition text */
}
.cooking-text, .later-text {
    text-align: center;
    font-size: 1.5vw;
    color: #555;
    transition: color 0.3s ease;
    order: 3; /* Place below loading screen */
}
.dark-mode .cooking-text, .dark-mode .later-text {
    color: #c37373;
}
.later-text {
    margin-top: 20px;
}
.footer-text {
    text-align: center;
    padding: 15px 0px;
    font-size:1.5vw;
    color: #777;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dark-mode .footer-text {
    color: #bbb;
}
.loading-screen {
    backgrounƒd: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out, background-color 0.3s ease;
    width: 100%; /* Take full width */
    padding: 40px 0; /* Add some padding around the GIF */

}

.dark-mode .loading-screen {
    background: #00000000;
}
.loading-screen img {
    max-width: 200px;
    width: 20vw;
}
.loaded .loading-screen {
    opacity: 100%
    visibility: hidden;
}

.contact-container {
    position: absolute; /* Take it out of the normal flow */
    top: 50%; /* Move it down 50% from the top of its containing element */
    left: 50%; /* Move it right 50% from the left of its containing element */
    transform: translate(-50%, -50%); /* Adjust its position by -50% of its own width and height */
    text-align: center;
    font-size: 1vw;
    font-family: "Eina Regular", Arial, sans-serif;
}

a.email-button
{
    color:  #00cb31; 
}


@media (max-width: 768px) {
 
    .menu {
        font-size: 4vw;
        margin-top: 20vw;
        margin-left: -70vw;
        margin-bottom: -6vw;
        min-width: 90%;
    }
    .menu {
    /* Existing styles for your menu */
    display: flex;
    gap: 20px; /* Example gap between menu items */
    justify-content: center; /* Example alignment */
    padding: 10px 0; /* Example vertical padding */
    position: relative; /* Needed for absolute positioning of pseudo-elements */
}

.menu::before{
    content: ""; /* Required for pseudo-elements to be generated */
    position: absolute;
    left: 0;
    right: 0;
    height: 1px; /* Adjust for thicker or thinner lines */
    margin-top: -2vw;
    background-color: #010101; /* Set the color of the lines */
}

.menu::before {
    top: 0; /* Position the line above the menu */
}

.menu::after {
    bottom: 0; /* Position the line below the menu */
}
    
    .logo-img {
        margin-top: -200vw;
        height: 7vw;
        margin-left: 25vw;
    }

    .nutrition-text {
        font-size: 6vw;
        padding-top: 15vw;
    }

    .cooking-text,
    .later-text {
        font-size: 3vw;
    }

    .theme-toggle-button__sun img {
        width: 4vw;
        height: auto; /* Changed from 20px */
    }

    .theme-toggle-button__moon img {
        width: 4vw;
        height: auto; /* Changed from 20px */
    }

    .footer-text {
        font-size: 2vw; /* Adjusted font size */
        padding: 15px 0;
    }

    .loading-screen img {
        width: 40vw; /* Adjusted width */
    }

    body {
    font-family: "Eina Regular", Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

body.dark-mode {
    background-color: #000000;
    color: #fff;
}

.dark-mode .fdi-button-link{
    border: 1vw solid #00cb31; /* Add a 2px solid white border */    
    }
.dark-mode .fdi-button-container button {
    font-size: 4vw;
    border: 1vw solid #00cb31; /* Add a 2px solid white border */

    
}

 .fdi-button-link{
    border: 1vw solid #00cb31; /* Add a 2px solid white border */    
    }
.fdi-button-container button {
    font-size: 4vw;
    border: 1vw solid #00cb31; /* Add a 2px solid white border */

    
}

.contact-container{
    font-size: 4vw
}


}

